<a *ngFor="let item of projects; let i=index;" href='javascript:void(0)' target="_blank" class='program-item'>
  <div class='shadow'>
    <div class='program-list-head'>
      <div id='repo-bg-{{item.img}}'></div>
      <span class="activity-plans">{{item.typeInfo}}</span>
    </div>
    <div class='program-list-cont'>
      <div class='program-list-tit'>{{item.title}}</div>
      <div class='program-list-t clearfix'>
        <span class='text'>{{item.subtitle}}</span>
      </div>
      <div class='program-list-dest'>{{item.meta}}</div>
      <div class='program-list-bot'>
        <span class='text'><a *ngIf="item.demoUrl!==''" href="javascript:;" (click)="navigatorTo(item.demoUrl)" target="_blank">认领需求</a></span>
        <span class='git'><a *ngIf="item.routerLink!==''" href="javascript:;" (click)="navigatorTo(item.routerLink)" target="_blank">查看详情</a></span>
      </div>
    </div>
  </div>
  <a *ngIf="item.npm" href="{{item.npm}}" target="_blank"><span class='item-new'>npm</span></a>
  <div class='c-line'></div>
  <div class='d-line'></div>
</a>
<a class='program-item add-item-wrap' href='javascript:void(0)' *ngIf="['/intro','/plans','/home'].indexOf(curRoutePath) === -1">
  <div class='shadow'>
    <div class='program-list-head'></div>
    <div class='program-list-cont'>
      <div class='program-list-t clearfix'></div>
      <div class='program-list-bot'></div>
    </div>
  </div>
  <img class="add-item-bar" src="../../../assets/img/add.gif" alt="">
  <div class='c-line'></div>
  <div class='d-line'></div>
</a>
