<div class="app-profile">
  <div class="profile-item">
    <p-fieldset legend="活动介绍">
      <p>
        前端大牛“尤大”说的好：一个程序员不能光埋头做事，还要抬头看路。的确，只会埋头做事的人其实并不总能把事情做好，会做事的人不仅要知道做事，还要知道正确的做事（Do things right）和做正确的事(Do right things)，而要做到这点无非就是——学习、交流、思考，也就是所谓的“抬头看路”。
      </p>
      <p>
        类似于学习研讨会之类的知识分享活动就能使参与者开拓视野、增长见识、看清前路、少走弯路。知识经验的分享者需要学习更多知识、研究更多资料才能在大家面前讲出东西，而听众能够花较少时间学习和分享到培训分享人的知识和经验，所谓：说话的播种，听话的收获，岂不美哉？
      </p>
      <p>
        鉴于大家的学习热情和欲望都很高很强烈，经小组讨论议定，小组每周举行一次知识经验分享活动。
      </p>
    </p-fieldset>
  </div>
  <div class="profile-item">
    <p-fieldset legend="活动规则">
      <p><strong>培训分享人：</strong>每个人都能分享，每个人都能学习</p>
      <p><strong>培训分享主题：</strong>来自需求列表或活动前和培训分享人商定</p>
      <p><strong>培训分享内容：</strong>不论专业技术还是业务知识，前后端开发、测试、开发语言、框架、工具、架构或者其它技术和经验等等都可以分享。</p>
      <p><strong>活动参与人：</strong>小组成员（其它人来者不拒）</p>
      <p><strong>活动时间：</strong>每周二晚或周四下午（计划）</p>
      <p><strong>活动口号：</strong>秀出自已，学到东西；喜欢折腾，乐于分享；</p>
    </p-fieldset>
  </div>
  <div class="profile-item">
    <p-fieldset legend="需求和主题的确立说明">
      <p>
        在这里，每个人都能分享，每个人都能学习，请大家积极提出需求、认领需求、发起分亨和提出意见和建议。
      </p>
      <p>
        针对大家提出的需求，将会列入需求列表；认领的需求和主动发起的分享，将会列入分享计划当中。
      </p>
    </p-fieldset>
  </div>
</div>




